PORT = 3000
HOST = localhost
MONGODB_URI = mongodb://127.0.0.1:27017
MONGODB_DB_NAME = tienda-sol
JWT_SECRET = secreto-super-secreto
JWT_EXPIRES_IN = 1d
FRONTEND_URL = http://localhost:3000
NODE_ENV = development
